
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("用户首页", "Index", "User")</li>
    <li>@Html.ActionLink("修改信息", "ChangeInfo", "User")</li>
    <li>@Html.ActionLink("修改密码", "ChangePassword", "User")</li>
    <li>@Html.ActionLink("退出系统", "Login", "User")</li>
</ul>